
<body>
    <div class="navbar bg-danger navbar-dark navbar-expand-sm">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="https://localhost:5001/account/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="https://localhost:5001/account/register" class="nav-link">Register</a>
                </li>
                
            </ul>
            
        </div>
    </div>
</body>
